<%= form_with(model: @blogs, local: true) do |form| %>
  <% if @blogs.errors.any? %>
    <div id="error_explanation">
      <h2><%= @blogs.errors.count %>errors occurred.</h2>
      <ul>

      <% @blogs.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group form-group">
      <div class="controls">
        <%= form.label :"タイトル" %>
        <%= form.text_field :title, id: :task_title, class:"form-control"%>
      </div>
    </div>

    <div class="control-group form-group">
      <div class="controls">
        <%= form.label :"タスク内容" %>
        <%= form.text_area :content, id: :task_content, class:"form-control" %>
      </div>
    </div>
  <%= form.submit %>
<% end %>

<%= link_to "Return to List of duffs screen", blogs_path %>
<%= t('blog.index') %>